.body-le-avant {
  background-color: #4245AB;
}
.avant-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
  }
  
  .title-avant {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    color: #e74c3c; /* Couleur similaire à celle de l'exemple */
    margin-bottom: 20px;
  }
  
  .you-are-not-alone {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    color: #34495e;
    margin-bottom: 20px;
  }
  
  .what-you-need-to-know {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    color: #34495e;
    margin-bottom: 20px;
  }
  
  .avant-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  h4 {
    font-size: 3vh;
    color: #2980b9;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 2.5vh;
    color: #2c3e50;
    margin: 10px 0;
    padding-left: 20px;
    text-indent: -20px;
  }

  @media (max-width: 768px) {
    .avant-container {
      width: 95%;
      padding: 10px;
    }
  
    .title-avant {
      font-size: 5vh;
    }
  
    .you-are-not-alone,
    .what-you-need-to-know {
      font-size: 3.5vh;
    }
  
    h4 {
      font-size: 2.5vh;
    }
  
    p {
      font-size: 2vh;
    }
  }
  